		<div class="row">
  		<div class="col-xs-12">
				<a id="back-to-top" class="btn btn-default" href="#" role="button">
					Subir&nbsp;<span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span>
				</a>
			</div>
		</div>
		</div>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.3/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
		<script src="{{ site.url }}/scripts/social-share-kit.min.js"></script>
    <script src="{{ site.url }}/scripts/main.js"></script>
		<script type="text/javascript">
			SocialShareKit.init();
		</script>
  </body>
</html>
