<nav class="navbar navbar-default">
	<div class="container-fluid">
		
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2" aria-expanded="false">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
		</div>
		
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
			<ul class="nav navbar-nav">
				<li><a href="{{ site.url }}/autores">Autores</a></li>
				<li><a href="{{ site.url }}/noticias">Noticias</a></li>
				<li><a href="{{ site.url }}/nosotros">Nosotros</a></li>
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Tienda <span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a href="http://dehavilland.bigcartel.com/category/la-mansion-en-llamas">La Mansión en Llamas</a></li>
							<li><a href="http://dehavilland.bigcartel.com/category/heredera">Heredera</a></li>
							<li><a href="http://dehavilland.bigcartel.com/category/clift">Clift Fanzine</a></li>
							<li><a href="http://dehavilland.bigcartel.com/category/fuera-de-coleccion">Fuera de colección</a></li>
							<li><a href="http://dehavilland.bigcartel.com/category/todos">Todos</a></li>
						</ul>
				</li>
			</ul>
		</div>
		
	</div>
</nav>
