---
layout: default
---

<div class="row">
  <div class="col-xs-12">
		
		<div id="latest-news" class="wrapper">
			
			<header class="default-header novelty-header">
				<h1 class="default-title novelty-title" itemprop="name headline">{{ page.title }}</h1>
			</header>

			<div class="novelty-list">
				
				<div class="row">

				{% assign items = site.novelties | sort:"date" | reverse %}
				{% for item in items %}

					<div class="recent-novelty col-xs-12 col-sm-4">
						<article>
							<figure class="novelty-picture">
								<a href="{{ item.url | prepend: site.url }}">
									<img src="{{ site.url }}/images/{{ item.picture }}" alt="{{ item.title }}">
								</a>
							</figure>

							<div class="novelty-meta">
								<span class="novelty-category">{{ item.categories | join: ', ' }}</span>&nbsp;/&nbsp;<span class="novelty-date">{{ item.date | date: "%-d/%m/%Y" }}</span>
							</div>

							<h2 class="novelty-title">
								<a href="{{ item.url | prepend: site.url }}">{{ item.title }}</a>
							</h2>

							<div class="novelty-excerpt">{{ item.excerpt }}</div>

							<a href="{{ item.url | prepend: site.url }}" class="novelty-read-more">Leer más</a>
						</article>
					</div>

				{% endfor %}
					
				</div>

			</div>
			
		</div>

	</div>
</div>
