// compress: false

@import url('base.less');

////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////
////////////////////////////////////////// THIS IS THE BEGINNING

html {
	
	body {
		.Lato; .normal;
		color: #333;
		font-size: 16px;
		
		> .container {
			
			> .row {
				
				&:nth-of-type(1) {
					background-color: #242628;
					margin-bottom: 20px;
					
					.col-xs-12 {
					
						.navbar {
							background-color: transparent;
							border: 0;
							margin-bottom: 0;

							.container-fluid {
								padding-right: 0; padding-left: 0;

								.navbar-header {
									
									button {
										border: 0;
										
										&:active,
										&:focus,
										&:hover,
										&:visited {
											background-color: transparent;
										}
										
										span {
											background-color: #8c919b;
										}
									}
								}

								.navbar-collapse {
									border-color: #343133;

									.navbar-nav {
										margin-top: 0; margin-bottom: 0;
										
										li {
											border: 1px solid #343133;
											
											&.dropdown {
												
												a {
													
													.caret {
														
													}
												}
												
												.dropdown-menu {
													padding-top: 0; padding-bottom: 0;
													
													li {
														
														a {
															font-size: 70%;
														}
													}
												}
											}
											
											&.dropdown.open {
												
												.dropdown-toggle {
													background-color: transparent;
													
													&:hover {
														background: rgba(255,255,255,.1);
													}
												}
											}
											
											a {
												.Lato; .normal;
												color: #8c919b;
												font-size: 12px;
												letter-spacing: 1px;
												text-transform: uppercase;
												
												&:hover {
													background: rgba(255,255,255,.1);
													color: White;
												}
											}
										}
									}
								}
							}
						}
					}
				}
				
				&:nth-of-type(2) {
					
					.col-xs-12 {
					
						.navbar {
							background-color: transparent;
							border: 0;

							.container-fluid {

								.navbar-header {
									
									.navbar-brand {
										.show;
										.Sweetmix1-bold;
										color: #242628;
										float: none;
										font-size: 80px;
										height: auto; width: 100%;
										line-height: 1em;
										margin: 16px 0;
										padding: 0;
										text-align: center;
										text-transform: uppercase;
									}
								}

								.navbar-nav {
									margin-top: 0; margin-bottom: 0;
									text-align: center;

									li {
										display: inline-block;
										
										a {
											background-color: transparent;
											border: 0;
											color: #242628;
											
											transition: all 0.2s ease;
											
											&:active,
											&:focus {
												outline: 0;
												outline-offset: 0;

												-webkit-box-shadow: none;
																box-shadow: none;
											}
											
											&:hover {
												color: #8c919b;
											}
										}
									}
								}
							}
						}
					}
				}
				
				&:nth-of-type(3) {
					.hide;
				}
				
				&:last-of-type {
					
					.col-xs-12 {
					
						#back-to-top {
							.show;
							.Oswald;
							background-color: transparent;
							border: 0;
							color: #8c919b;
							letter-spacing: 1px;
							opacity: .8;
							margin: 32px 0;
							padding: 0;
							text-transform: uppercase;
							
							transition: opacity .2s linear;
							
							&:active {
								
								-webkit-box-shadow: none;
												box-shadow: none;
							}
							
							&:focus {
								outline: none -webkit-focus-ring-color;
    						outline-offset: 0;
							}

							&:hover {
								opacity: 1;
							}

							.glyphicon {
							}
						}
					}
				}
			}
		}
	}
}

////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////

#carousel-example-generic {

	&:hover {

		.carousel-inner {

			.item {

				&:before {
					opacity: .6;
				}
			}
		}
	}

	.carousel-inner {

		.item {

			&:before {
				background-color: #e285d1;
				content: "";
				height: 100%; width: 100%;
				opacity: 0;
				position: absolute;
				top: 0; left: 0;
				z-index: 2;

				transition: opacity .2s linear;
			}

			img {
				min-width: 100%;
				z-index: 1;
			}

			.carousel-caption {
				bottom: 0;
				height: 100%; width: 70%;
				padding-top: 0; padding-bottom: 0;
				left: 15%; right: 15%;

				p {
					.show;
					.Sweetmix2-bold;
					.vertical-align;
					color: White;
					font-size: 18px;
					height: auto; width: 100%;
					letter-spacing: 1px;
					margin-bottom: 0;
					text-transform: uppercase;
				}

				a {
					.show;
					color: transparent;
					height: 100%; width: 100%;
					position: absolute;
					top: 0; left: 0;
				}
			}
		}
	}

	.carousel-control {

		&.left {

		}

		&.right {

		}
	}
}

#latest-news {

	h1 {
		.Oswald; .normal;
		color: #333;
		font-size: 32px;
		margin: 16px * 3 0 16px * 2 0;
		text-transform: uppercase;
		text-align: center;
	}

	.novelty-list {
		list-style-type: none;
		padding: 0;

		.recent-novelty {

			article {
				margin-bottom: 16px * 3;

				.novelty-picture {
					overflow: hidden;
					position: relative;

					a {
						
						&:hover {
						
							&:before {
								opacity: .6;
							}
							
							img {								
								
								-webkit-transform: scale(1.02);
									 -moz-transform: scale(1.02);
										 -o-transform: scale(1.02);
										-ms-transform: scale(1.02);
												transform: scale(1.02);
							}
						}
						
						&:before {
							background-color: #e285d1;
							content: "";
							height: 100%; width: 100%;
							opacity: 0;
							position: absolute;
							top: 0; left: 0;
							z-index: 2;

							transition: opacity .2s linear;
						}

						img {
							.show;
							height: auto; width: 100%;
							
							transition: all .5s ease;
						}
					}
				}

				.novelty-meta {
					.show;
					.Oswald; .normal;
					color: #8c919b;
					font-size: 12px;
					letter-spacing: 1px;
					margin: 16px 0 16px / 2 0;
					text-align: center;
					text-transform: uppercase;

					.novelty-category {
					}

					.novelty-date {
					}
				}

				.novelty-title {
					.Oswald; .normal;
					font-size: 18px;
					letter-spacing: 1px;
					line-height: 1.5em;
					margin: 16px / 2 0 16px 0;
					text-align: center;
					text-transform: uppercase;

					a {
						color: #333;
						text-decoration: none;
					}
				}

				.novelty-excerpt {
					.Lato; .normal;
					font-size: 16px;
					line-height: 1.5em;
					text-align: center;
				}

				.novelty-read-more {
					.show;
					.Lato; .normal;
					color: #333;
					font-size: 14px;
					letter-spacing: 1px;
					margin: 16px 0;
					opacity: .8;
					text-align: center;
					text-decoration: none;
					text-transform: uppercase;

					transition: opacity .2s linear;

					&:hover {
						opacity: 1;
					}
				}
			}
		}
	}
}

.default-post {
	
	.default-header {
		
		.novelty-meta {
			.show;
			.Oswald; .normal;
			color: #8c919b;
			font-size: 12px;
			letter-spacing: 1px;
			margin: 16px 0 16px / 2 0;
			text-align: center;
			text-transform: uppercase;

			.novelty-category {
			}

			.novelty-date {
			}
		}
		
		.default-title {
			.Oswald; .normal;
			font-size: 32px;
			letter-spacing: 1px;
			line-height: 1.5em;
			margin: 16px / 2 0 16px 0;
			text-align: center;
			text-transform: uppercase;
		}
	}
	
	.default-content {
		
		a {
			color: #333;
			text-decoration: underline;
						
			&:hover {
				text-decoration: none;
			}
		}
		
		iframe {
			.show;
			margin: 0 auto;
			max-width: 100%;
		}
		
		h2 {
			.Oswald; .normal;
			font-size: 28px;
			letter-spacing: 1px;
			line-height: 1.5em;
			text-transform: uppercase;
		}
		
		h3 {
			.Oswald; .bold;
			font-size: 22px;
			letter-spacing: 1px;
			line-height: 1.5em;
		}
		
		img {
			.show;
			margin: 0 auto;
			max-width: 100%;
		}
		
		p {
			line-height: 1.5em;
			overflow: hidden;
		}
	}
	
	.novelty-share {
		border-top: 3px solid #333; border-bottom: 3px solid #333;
		padding: 16px 0 16px * 1 0;
		margin: 16px * 2 0;
		margin-bottom: 0;
		
		h2 {
			.Oswald; .bold;
			font-size: 18px;
			text-align: center;
			margin: 16px / 2 0 16px * 1.5 0;
		}
		
		a {
			.Oswald; .normal;
			.show;
			background-color: transparent;
			color: #333;
			font-size: 12px;
			letter-spacing: 1px;
			line-height: 1.5em;
			opacity: .8;
			padding: 0;
			margin: 16px 0;
			text-decoration: none;
			text-transform: uppercase;
			
			transition: opacity .2s linear;
			
			&:before {
				.hide;
			}
			
			&:hover {
				opacity: 1;
			}
		}
	}
	
	.novelty-navigation {
		margin: 0;
		
		a {
			.Lato; .normal;
			.show;
			border-bottom: 1px solid #333;
			color: #333;
			font-size: 12px;
			letter-spacing: 1px;
			line-height: 1.5em;
			padding: 16px * 2 16px;
			text-align: center;
			text-transform: uppercase;
			
			&:hover {
				text-decoration: none;
			}
			
			.glyphicon {
				.hide;
			}
			
			b {
				.Oswald; .normal;
				.show;
				color: #8c919b;
				font-size: 14px;
				margin-bottom: 16px / 4;
			}
		}
	}
	
	.novelty-related {
	}
}

#article.novelty {
	
	.novelty-content {
		
		p {
			
			&:first-child:first-letter {
				float: left;
				font-size: 16px * 4;
				line-height: 16px * 4;
				padding: 0 4px 0 0;
			}
		}
	}
}

#latest-news {
	
	.default-header {
		
		.default-title {
			.Oswald; .normal;
			font-size: 32px;
			letter-spacing: 1px;
			line-height: 1.5em;
			margin: 16px / 2 0 16px 0;
			text-align: center;
			text-transform: uppercase;
		}
	}
}

#authors {
	
	.default-header {
		
		.default-title {
			.Oswald; .normal;
			font-size: 32px;
			letter-spacing: 1px;
			line-height: 1.5em;
			margin: 16px / 2 0 16px 0;
			text-align: center;
			text-transform: uppercase;
		}
	}
	
	.author-list {
		list-style-type: none;
		padding: 0;
		
		li {
			.clearfix;
			.show;
			margin: 16px 0 16px * 2 0;
			
			&:nth-child(odd) {
				
				.author-picture {
					float: left;
					margin: 0 16px 16px 0;
				}
			}
			
			&:nth-child(even) {
				
				.author-picture {
					float: right;
					margin: 0 0 16px 16px;
				}
			}
			
			.author-picture {
				
				img {
					
				}
			}
			
			.author-description {
				
				a {
					color: #333;
					text-decoration: underline;

					&:hover {
						text-decoration: none;
					}
				}
				
				p {
					line-height: 1.5em;
				}
			}
		}
	}
}

////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////

@import url('xs.less');
@import url('sm.less');
@import url('md.less');
@import url('lg.less');

////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////
//////////////////////////////////////////////// THIS IS THE END